@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.App form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.App h1 {
    font-size: 32px;
    text-align: center;
}
