.navbarSmiley {
    cursor: pointer;
    position: relative;
    animation: hide;
}

.navbarSpeechBubble {
    position: absolute;
    margin-top: -35%;
    transform: rotateX(180deg);
    left: 100%;
    width: 200px;
}

.compliment {
    transform: rotateX(180deg);
}
